<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <title>Indecisive Eaters</title>
    <style type="text/css">
        #map-canvas {
            height: 500px
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdEdTL2gWxhwX3uL4u8NcpozxxjIuLpI&libraries=places&callback=initMap">
    </script>

    <script type="text/javascript">

        var map;

        function initialise(location)
        {
            console.log(location);

            var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);

            var mapOptions = {
                center: currentLocation,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementByID("map-canvas"), mapOptions);

            var marker = new google.maps.Marker({
                position: currentLocation,
                map: map
            });

        }

        $(document).ready(function()
        {
            navigator.geolocation.getCurrentPosition(initialise);
        });
    </script>
</head>
<body>
    <a href="{% url 'login:logout' %}">Logout</a>
    <h1>Indecisive Eaters</h1>
    <label>Can't figure what you want to eat? Say no more...</label>
    <div id="map-canvas"></div>
    <!--   AIzaSyARdEdTL2gWxhwX3uL4u8NcpozxxjIuLpI -->
    <!-- https://maps.googleapis.com/maps/api/directions/json?origin=75+9th+Ave+New+York,+NY&destination=MetLife+Stadium+1+MetLife+Stadium+Dr+East+Rutherford,+NJ+07073&key=AIzaSyARdEdTL2gWxhwX3uL4u8NcpozxxjIuLpI -->
    <form class="" action="" method="post">
        {% csrf_token %}
        <input type="submit" name="Random" value="Random Generator"> <input type="submit" name="Favorites" value="Favorites">
    </form>
</body>
</html>
